h2 {
    text-align: center; /* Выравнивание заголовков по центру */
}

#main {
    display: flex; /* Использование flexbox для компоновки элементов */
    flex-direction: column; /* Установка направления элементов по вертикали */
    align-content: center; /* Центрирование содержимого по вертикали */
    align-items: center; /* Центрирование элементов по горизонтали */
}

#metrics_table {
    color: blue; /* Установка цвета текста таблицы метрик на синий */
}

#metrics_container {
    display: flex; /* Использование flexbox для компоновки элементов внутри контейнера метрик */
    align-items: center; /* Центрирование элементов по вертикали внутри контейнера */
}
